@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.logo-pasek {
    width: 51px;
    height: 51px;
    padding-right: 45px;
}

#PL {
    text-transform: uppercase;
    color: #008248;
}

.pasek {
    background-color: white;
    padding: 1.6em;
    color: black;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.pierwszy-nav {
    text-transform: uppercase;
    display: flex;
    margin-right: auto;
    letter-spacing: 3px;
}

.pierwszy-nav a {
    transition: 0.2s ease-in-out;
}

.pierwszy-nav a:hover {
    color: #008248;
}

.drugi-nav {
    display: flex;
    align-items: center;
    padding-right: 50px;
    
}

#znajdz {
    transition: 0.2s ease-in-out;
}

#znajdz:hover {
    color: rgb(109, 109, 109);
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pierwszy-nav li {
    padding: 1em;
}

.drugi-nav li {
    padding: 1em;
}

section {
    padding: 5em 2em;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pytaniehero {
        text-transform: uppercase;
        font-weight: bold;
        color: #008248;
        letter-spacing: .3em;
        font-size: 20px;
}

.lewa-kolumna {
    float: left;
    width: 60%;
    margin-left: 20%;
}

.lewa-kolumna h1 {
    font-size: 5em;
    line-height: 1.3em;
    margin-top: .2em;
    margin-bottom: .3em;
}

.lewa-kolumna a {
    font-size: 20px;
}

.rodzaje {
    margin-top: 10%;
    background-color: #008248;
}

.rodzaje ul {
    display: flex;
}

.rodzaje li {
    background-color: white;
    text-align: center;
    padding: 2em 1em;
    width: 80%;
    margin: 3% auto 5em auto;
    border-radius: 1em;
    color: #008248;
    width: 25%;
    position: relative;
}

.rodzaje li img {
    display: block;
    margin: 0 auto;
    width: 60%;
    margin-top: -9em;
    margin-bottom: 1em;
}

.rodzaje cite {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8em;
    margin-top: 1em;
    color: #008248;
    font-style: normal;
}

.rodzaje blockquote {
    text-align: center;
    margin-top: 0.5em;
    color: black;
    padding-top: 1em;
}

.kontakt {
    padding: 0;
    justify-content: center;
}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
}


input, textarea {
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #008248;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;
    transition: 0.4s;
  }

input[type="submit"]:hover {
    background-color: white;
    color: #008248;
}



.container-kontaktu {
    display: flex;
    padding: 0em;
    align-items: flex-start;

}

.container-kontaktu img {
    margin-left: auto;
    width: 30%;
}

.kontakt-lewy {
    padding: 7em;
    margin-left: 15%;
}